@page "/lazyloading"

<h3>Lazy Loading</h3>

<p>Con Lazy Loading podemos postergar la descarga de DLLs hasta que las necesitemos.</p>

Mensaje desde otro assembly: <i>@Utilidades.ObtenerMensaje()</i>

@code {

}
